
#familypicture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

#slide1 {
    background-color: #fff;
}

#slide2 {
    background-color: #78e8bf;
}

#slide3 {
    background-color: #f17f51;
}

.content_container {
    padding-top: 100px;
    width: 100%;
    height: 100%;
}

.content {
    margin: 0 auto;
    max-width: 1000px;

}

.familyTextBlock{
    margin-bottom: 5%;
}