
#familypicture{
    display: block;
    margin-left: auto;
    margin-right: auto
}

#slide1 {
    background-color: #fff;
}

#slide2 {
    background-color: #78e8bf;
}

#slide3 {
    background-color: #f17f51;
}

.familyTextBlock{
    margin-bottom: 1.5%;
}

#left_arrow{
    z-index: 5;
    position: fixed;
    top: 25%;
    left: 0;
    height: 50%;
    vertical-align: middle;
}

#right_arrow{
    z-index: 5;
    position: fixed;
    top: 25%;
    right: 0;
    height: 50%;
    vertical-align: middle;
}

.arrow_img {
    height: 100%;
}