body {
    padding: 0;
    margin: 0;
    padding-bottom: 70px;
}

h1 {
    font-family: 'Futura', 'Open Sans', sans-serif;
    font-stretch: condensed;
    font-weight: bold;
    font-size: 27px;
}

p {
    font-family:  'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
}

hr {
    border: 0;
    height: 2px;
    width: 90%;
    background-color: #ebeef0;
    margin: 50px 5%;
}

.footer-container {
    position: fixed;
    width: 100%;
    background: #ebeef0;
    bottom: 0px;
    z-index: 4;
}

.footer {
    text-align: center;
    margin: 0;
    padding: 0;
    color: #000;
}

.footer li {
    display: inline;
    list-style: none;
}

.content_container {
    padding-top: 50px;
    width: 100%;
    height: 100%;
}

.content {
    margin: 0 auto;
    max-width: 1000px;

}

.ueberschrift {
    padding-left: 5%;
    font-size: 48px;
}

